

body{
    
    background-color: #212429;
    font-family:serif;
}

header{

    display:flex;
    justify-content: space-between;
    padding: 2%;
}

a{
    
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: opacity 0.3s;
}

p, span{

    color: #c4cfde;
}

h2{

    color: white;
}

li{

    list-style-type: none;
}

.hero{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

a:hover{
    
    opacity: 1;
}

.menu{

    display:flex;
    justify-content: space-around;
    gap: 45px;
    font-size: 14px;
}

.buy{

    color:#ff6363;
    border-radius: 6px;
    box-shadow: 1px 1px 20px black;
    background: linear-gradient(145deg, #1e2024, #23272b);
    font-weight:lighter;
    font-size: 16px;
    padding: 10px 30px;
    
}

.banner{

    position: relative;
}

.background_box{

    position: absolute;
    width: 70%;
    height: 80%;
    top: 15%;
    background-color: #212429;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: -1;
}

.main_title{

    font-size: 50px;
}