*{

    border:red;
}


img{

    width: 100%;
    aspect-ratio: 2.5/3;
}

/* Mobile (par défaut) */
body {
    font-size: 16px; 
}

/* Tablette (à partir de 768px) */
@media (min-width: 768px) {
  body {
    font-size: 17px; 
} 
}

/* PC (à partir de 1024px) */
@media (min-width: 1024px) {
  body{ 
    font-size: 18px; }
}

body{
    display: flex;
    justify-content: center;
    background: linear-gradient(#E2D9C8, #beb9b0);
    color: #E2D9C8; 
    padding-top: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{

    width: 80%;
}

a{

    text-decoration: none;
    color: #E2D9C8;
}

a:hover{

    transition-duration: 0.5s;
    font-weight: bold;
}

.about_us{

    background-image: url(/icons/BaristaLatte-Canardcafe.jpg);
    background-size: cover;
    height: 75vh;
}

li{

    list-style-type: none;
}

.menu{

    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2% 5%;
}

.menu ul{

    display:flex;
    gap: 5rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.coffee_illustration{

    width: 85%;
    justify-content: center;
}


.presentation{

   padding: 5%
}

.activity{

    font-weight: bold;
    font-size: 1.5em;
    padding-right: 5%;
}

.search_bar{

    min-width: 30%;
    max-width: 55%;
}

.illustrations{

    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 10%;
}

.icons{

    color: #21252C;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    max-width: 10%;
}

.order_now{

    border-radius: 2em;
    padding: 1em 2.5em;
    font-weight: bold;
}

.order_now:hover{

    transition-duration: 0.8s;
    box-shadow: 
    10px 10px 10px black,
    10px 10px 10px rgb(92, 92, 92);
}

.specialities{

    color:#615849;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.catalogue{

    background: #ffffff;

}

.products{

    display: grid;

    height: auto;
    justify-items: center;
    padding-left: 120px;
    padding-right: 120px;

}

.our_coffees{
    
    background: #EEEBE6;
    padding: 5px;
    border-style: solid;
    justify-self: center;
}

.our_coffees button{

    border-radius: 0.7em;
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: #302921;
    color: white;
}

.products_row{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.products_infos{

    display: flex;
    justify-content: space-between;
    color: black;
}

.products_infos p{

    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.coffee_banner{

    padding-top: 5%;
    height: 300px;

}