
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



img{

    width: 100%;
    aspect-ratio: 2.5/3;
}

/* Mobile (par défaut) */
body {
    font-size: 16px; 
}

/* Tablette (à partir de 768px) */
@media (min-width: 768px) {
  body {
    font-size: 17px; 
} 
}

/* PC (à partir de 1024px) */
@media (min-width: 1024px) {
  body{ 
    font-size: 18px; }
}

html, body{

    height: 100%;
    margin: 0;
    padding: 0;
}

body{

    background: linear-gradient(#E2D9C8, #beb9b0);
    color: #E2D9C8; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{

    display:flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #DED6C6;
}

main, footer{

    width: 80%;
    margin:auto;
}

a{

    text-decoration: none;
    color: #E2D9C8;
}

a:hover{

    transition-duration: 0.5s;
    font-weight: bold;
}

.about_us{

    background-image: url(/icons/BaristaLatte-Canardcafe.jpg);
    background-size: cover;
    height: 75vh;
}

li{

    list-style-type: none;
}

.menu{

    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2% 5%;
}

.menu ul{

    display:flex;
    gap: 5rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.presentation{

   padding: 5%
}

.activity{

    font-weight: bold;
    font-size: 1.5em;
    padding-right: 5%;
}

.search_bar{

    min-width: 30%;
    max-width: 55%;
}

.illustrations{

    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 10%;
}

.icons{

    color: #21252C;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    max-width: 10%;
}

.order_now{

    border-radius: 2em;
    padding: 1em 2.5em;
    font-weight: bold;
}

.order_now:hover{

    transition-duration: 0.8s;
    box-shadow: 
    10px 10px 10px black,
    10px 10px 10px rgb(92, 92, 92);
}

.specialities{

    color:#615849;
    display: flex;
    justify-content: center;
}

.catalogue{

    background: #ffffff;
    padding-top: 0.5em;
}

.products{

    display: grid;
    height: auto;
    justify-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.our_coffees{
    
    background: #EEEBE6;
    padding: 5px;
    border-style: solid;
    justify-self: center;
}

.our_coffees button{

    border-radius: 0.7em;
    font-weight: bold;
    padding: 0px 2em;
    background-color: #302921;
    color: white;
}

.products_row{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 30px;
}

.products_infos{

    display: flex;
    justify-content: space-between;
    color: black;
}

.products_infos h4{

    text-align: center;
}

.price_order{

    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}

.products_infos p{

    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.explore_products{

    background-repeat: no-repeat;
    background-image:url(icons/coffee_banner.png);
    background-size: cover;
    height: 300px;
    color: #342E22;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    
}

.explore_button{

    border-radius: 8px;
    color: white;
    background-color: #30261C;
    border-radius: 2em;
    padding: 1em 2.5em;
    font-weight: bold;
    margin-right: 15%;
    font-size: 0.6em;
}

.clients_reviews{

    background-repeat: no-repeat;
    background-image: url(icons/reviews.jpg);
    background-size: cover;
    min-height: 50vh;
    padding-top: 1px;
}


.contacts_and_links ul{
    
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.name_coffee{

    font-size: 1.5em;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.contacts_and_links ul li a{
    
    gap: 10px;
    color: white;
}

.clients_reviews{
    
    width: 100%;
    height: 85vh;
}

.clients_reviews p{
    
    color:black;
    font-family:"Italianno";
    font-size: 3em;
    text-align: center;
}

.discount_offer{
    background-repeat: no-repeat;
    background-image: url(icons/end_banner.png);
    background-size: cover;
    color: #342E22;
    align-content: center;
    text-align: center;
    height: 35vh;
}

.discount_offer h3{

    font-size: 1.5em;
}

.discount_offer p{

    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.subscribe{

    display: flex;
    justify-content: center;
    gap: 15px
    
}

.subscribe button{

    border: none;
    outline: none;
    border-radius: 1em;
    padding: 0px 2em;
    background-color: #302921;
    color: white;
}

.subscribe input{

    border-radius: 1em;
    padding: 5px 30px;
}

.contacts_and_links{

    background: #30261C;
    height: 35vh;
    padding-top: 1em;
    padding-left: 3.5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    
}

.services_columns ul{

    flex-direction: column;
}


ul{
    padding : 0;
}

